[Unit]
Description=pipe-bot
After=network-online.target
Wants=network-online.target

[Service]
Environment=PIPEBOT_DISCORD_TOKEN=[token]
ExecStart=/usr/local/bin/pipe-bot
Sockets=pipe-bot.socket
StandardInput=socket
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
